#container{
  text-align: center;
  justify-content: center;
  display: flex;
}
#counter{
  border: 2px solid;
  box-shadow: 10px 10px 10px black;
 
}
button{
  margin-top: 15px;
  margin-right: 5px;
  margin-left: 5px;
  height: 7vh;
  width: 10vw;
  font-size: 25px;
}